<!doctype html>
<html class="no-js preview-html" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>James Club</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon ->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon.png"> -->
    <link rel="stylesheet" href="public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/css/revoulation.css">
    <link rel="stylesheet" href="public/assets/css/plugins.min.css">
    <link rel="stylesheet" href="public/assets/css/style.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="public/assets/css/jamesClub.css">

</head>


<body class="template-color-1 template-font-1 preview-html" style="position:relative;">
    <img style=" position: absolute; top: 30px; left: 60px; z-index:1;" width="450"  src="/Admin/icons/logo-xl.png" />
    <div id="page-preloader" class="page-loading clearfix">
        <div class="page-load-inner">
            <div class="preloader-wrap">
                <div class="wrap-2">
                    <div>
                        <img width="450" src="/Admin/icons/logo-xl.png" alt="loader">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="wrapper">
        <!-- Page Conttent -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5  col-md-6 col-sm-12 col-12 wow move-up" style="background-image: url('public/assets/images/img/Register.png'); background-size: cover;">

                    </div>

                    <div style="padding-bottom: 75px; " class="bg-color-1 col-lg-7 col-md-12 col-sm-12 col-12 wow move-up">
                        <div class="contact-formx form-style">
                            <form class="for wow move-up form-style--2 extra-padding" action="#">
                                <div class="row lr-m-15">

                                    <h1 class="text-center text-white fw-400 mt--20 mb--30">Register</h1>


                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Physical Type</label>
                                            <img class="form-icon" src="public/assets/images/icons/Physical.png" />
                                            <select class="form-control">
                                                <option>A</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Region:</label>
                                            <img class="form-icon" src="public/assets/images/icons/Region.png" />
                                            <input type="text" placeholder="Search your Region">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>I'm Looking for:</label>
                                            <img class="form-icon" src="public/assets/images/icons/Looking.png" />
                                            <select class="form-control">
                                                <option>Looking for</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>I'm Looking for:</label>
                                            <img class="form-icon" src="public/assets/images/icons/Looking.png" />
                                            <select class="form-control">
                                                <option>Looking for</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Sexual Orientation:</label>
                                            <img class="form-icon" src="public/assets/images/icons/Sexual.png" />
                                            <select class="form-control">
                                                <option>Looking for</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Relationship Status:</label>
                                            <img class="form-icon" src="public/assets/images/icons/Relationship.png" />
                                            <select class="form-control">
                                                <option>Looking for</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Education:</label>
                                            <img class="form-icon" src="public/assets/images/icons/Education.png" />
                                            <select class="form-control">
                                                <option>Enter your Qualification</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Nationality:</label>
                                            <img class="form-icon" src="public/assets/images/icons/hand.png" />
                                            <select class="form-control">
                                                <option>A</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Religion:</label>
                                            <img class="form-icon" src="public/assets/images/icons/hand.png" />
                                            <select class="form-control">
                                                <option>A</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb--20">
                                        <div class="input-box">
                                            <label>Children:</label>
                                            <img class="form-icon" src="public/assets/images/icons/hand.png" />
                                            <select class="form-control">
                                                <option>A</option>
                                                <option>B</option>
                                            </select>
                                        </div>
                                    </div>







                                    <div class="mt--10 move-up wow text-center">
                                        <a class="brook-btn btn-outline bk-btn-theme with-no-shadow btn-lg-size btn-rounded space-between" href="signin.html">Continue <img src="public/assets/images/icons/arrow-right.png" /></a>
                                    </div>




                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--// Page Conttent -->


    </div>
    <footer class="fixedd">
        <div class="container-fluid">
            <div class="row">

                <div class="col-6">
                    <p class="text-white">Term and conditions of service | Privacy | language </p>
                </div>
                <div class="col-6 text-end">
                    <p class="text-white">James Club 248 all rights reserved </p>
                </div>
            </div>
        </div>
    </footer>
    <!--// Wrapper -->


    <script src="public/assets/js/vendor/vendor.min.js"></script>
    <script src="public/assets/js/plugins.min.js"></script>
    <!-- REVOLUTION JS FILES -->
    <script src="public/assets/js/revolution.tools.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS -->
    <script src="public/assets/js/revolution.extension.min.js"></script>
    <script src="public/assets/js/main.js"></script>
    <script src="public/assets/js/revoulation.js"></script>

    <script>
        /*function check(e)
        {
        alert(e.keyCode);
        }*/
        document.onkeydown = function (e) {
            if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 85 || e.keyCode === 117)) {//Alt+c, Alt+v will also be disabled sadly.
                alert('not allowed');
            }
            return false;
        };
        $(document).bind("contextmenu", function (e) {
            e.preventDefault();
        });
        $(document).keydown(function (e) {
            if (e.which === 123) {

                return false;

            }

        });
    </script>
</body>


</html>