@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    .pac-box.bg-act {
        background-color: #d2f3f3;
    }
    .pac-box {
        height: 520px;
        box-shadow: hsl(0deg 0% 0% / 16%) 0px 3px 6px;
        border-radius: 20px;
        padding: 20px 15px;
    }
    .vip-acc .col-md-4{
        padding:0px 25px;
    }

    .pac-box li.color-black {
        font-size: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
</style>
<div class="row mt-5">
    <div class="col-md-12">
        <h2>VIP Account</h2>
        

       
    </div>
   
     
</div>
<div class="row vip-acc mt-5">
    <div class="col-md-4">
    <div class="pac-box">
        <h3 class="text-center font-weight-bold text-primary">Free</h3>
        <ul>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> See James</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Like the James</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> 2 Message month</li>
        </ul>
    </div>
    <button class="btn btn-primary btn-2 btn-block mt-7">Downgrade</button>
    </div>
    <div class="col-md-4">
    <div class="pac-box bg-act">
        <h3 class="text-center font-weight-bold text-primary">Gold</h3>
        <p class="text-center color-black">
            1 miles 18,90<br />
            3 miles por 45,00 (15,00/mes)
        </p>
        <ul>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> See James</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Like the James</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> 2 Message month</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> See panel with people who like you</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> 1 monthly video calls for 5 minutes</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Send unlimited messages</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Hide online function</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Diary</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Control age and distance information</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Disable Ads</li>
        </ul>
        <br />
        <br />
        <div class="">
            <p class="color-black">Enter Discount Coupon</p>
            <input style="border:none;border-radius:10px;" type="text" placeholder="Coupon number" class="form-control" />
        </div>
    </div>
    <button class="btn btn-primary mt-7 btn-block">Current Plan</button>
    </div>
    <div class="col-md-4">
    <div class="pac-box">
        <h3 class="text-center font-weight-bold text-primary">Daimond</h3>
        <p class="text-center color-black">
            1 miles 29,90<br />
            3 miles 75,00 (25,00/mes)
        </p>
        <ul>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> See James</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Like the James</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Message viewing</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> See panel with people who like you</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> 5 James gift monthly</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> 5 monthly video calls for 5 minutes</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Send unlimited messages</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> View the reputation of "James"</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Diary</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> 100 credit James card</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Hide online function and location</li>
            <li class="color-black">
                <img class="mr-3" src="/Admin/icons/checked.png"> 1 top James access<br />
                (stay on feature page on 1 hour)
            </li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Be shown only to people you like</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Control age and distance information</li>
            <li class="color-black"><img class="mr-3" src="/Admin/icons/checked.png"> Disable Ads</li>
        </ul>
    </div> 
    <button class="btn btn-primary mt-7 btn-2 btn-block">Upgrade</button>
    </div> 
</div>