@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-5 pt-5">

    <div class="row m-0 form-style--3 ">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Billing Report</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-center">
                        <thead>
                            <tr>
                                <th width="100">Profile&nbsp;Photo</th>
                                <th>Full&nbsp;Name</th>
                                <th>Package </th>
                                <th>Amount</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Package 1</td>
                                <td>Followed Ali</td>
                                <td><span class="text-warning">9:00 PM</span></td>
                            </tr>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Package 1</td>
                                <td>Followed Ali</td>
                                <td><span class="text-warning">9:00 PM</span></td>
                            </tr>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Package 1</td>
                                <td>Followed Ali</td>
                                <td><span class="text-warning">9:00 PM</span></td>
                            </tr>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Package 1</td>
                                <td>Followed Ali</td>
                                <td><span class="text-warning">9:00 PM</span></td>
                            </tr>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Package 1</td>
                                <td>Followed Ali</td>
                                <td><span class="text-warning">9:00 PM</span></td>
                            </tr>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Package 1</td>
                                <td>Followed Ali</td>
                                <td><span class="text-warning">9:00 PM</span></td>
                            </tr>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Package 1</td>
                                <td>Followed Ali</td>
                                <td><span class="text-warning">9:00 PM</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
