@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-5 pt-5">

    <div class="row m-0 form-style--3 ">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Users</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-center">
                        <thead>
                            <tr>
                                <th width="100">Profile&nbsp;Photo</th>
                                <th>Full&nbsp;Name</th>
                                <th>Gender </th>
                                <th>Phone Number  </th>
                                <th>User ID</th>
                                <th>Status</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
