@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chart-circle-md {
        height: 118px;
        width: 118px;
        font-size: 5.8rem;
    }
</style>
<link href="~/Admin/assets/css/james-nav-sty2.css" rel="stylesheet" />
<div class="profile-page  mt-5">

    <div class="row m-0 form-style--3 ">

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2>Analysis</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card box-shadow-0">
                        <div class="card-body" style="background: #fdecd4; border-radius: 10px;padding: 15px 10px">
                            <div class="row">
                                <div class="col">
                                    <div class="mx-auto chart-circle chart-circle-md chart-circle-primary mt-sm-0 mb-0" data-value="0.60" data-thickness="5" data-color="#ebb261">
                                        <div style="color: #ebb261;" class="mx-auto chart-circle-value text-center fs-20">60%</div>
                                    </div>
                                </div>
                                <div class="col mb-lg-4 mb-xl-0 mt-3">
                                    <div style="color: #ebb261;" class="fs-20 text-center">
                                        Total Active <br />
                                        User
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card box-shadow-0">
                        <div class="card-body" style="background: #FCE4F8; border-radius: 10px; padding: 15px 10px">
                            <div class="row">
                                <div class="col">
                                    <div class="mx-auto chart-circle chart-circle-md chart-circle-primary mt-sm-0 mb-0" data-value="0.20" data-thickness="5" data-color="#E96DD5">
                                        <div style="color: #E96DD5;" class="mx-auto chart-circle-value text-center fs-20">20%</div>
                                    </div>
                                </div>
                                <div class="col mb-lg-4 mb-xl-0 mt-3">
                                    <div style="color: #E96DD5;" class="fs-20 text-center">
                                        Total Verified<br />
                                        Users
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card box-shadow-0">
                        <div class="card-body" style="background: #C9EDF3; border-radius: 10px; padding: 15px 10px">
                            <div class="row">
                                <div class="col">
                                    <div class="mx-auto chart-circle chart-circle-md chart-circle-primary mt-sm-0 mb-0" data-value="0.08" data-thickness="5" data-color="#39C7E1">
                                        <div style="color: #39C7E1;" class="mx-auto chart-circle-value text-center fs-20">8%</div>
                                    </div>
                                </div>
                                <div class="col mb-lg-4 mb-xl-0 mt-3">
                                    <div style="color: #39C7E1;" class="fs-20 text-center">
                                        Total Flagged <br />
                                        Users
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card box-shadow-0">
                        <div class="card-body" style="background: #BDECC3; border-radius: 10px; padding: 15px 10px">
                            <div class="row">
                                <div class="col">
                                    <div class="mx-auto chart-circle chart-circle-md chart-circle-primary mt-sm-0 mb-0" data-value="0.12" data-thickness="5" data-color="#35B446">
                                        <div style="color: #35B446;" class="mx-auto chart-circle-value text-center fs-20">12%</div>
                                    </div>
                                </div>
                                <div class="col mb-lg-4 mb-xl-0 mt-3">
                                    <div style="color: #35B446;" class="fs-20 text-center">
                                        Total Blocked <br />
                                        Users
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <h2>User</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-center">
                        <thead>
                            <tr>
                                <th width="100">Profile&nbsp;Photo</th>
                                <th>Full&nbsp;Name</th>
                                <th>Gender </th>
                                <th>Phone Number  </th>
                                <th>User ID</th>
                                <th>Status</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                            <tr>
                                <td><img src="~/Admin/icons/pro-user.png" /></td>
                                <td>Sara</td>
                                <td>Female</td>
                                <td>+1234567890</td>
                                <td>0001</td>
                                <td><span class="text-warning">Active</span></td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3 side-nav-right-sty">
            <div class="wgit">

                <h3 class="mb-0">Notification</h3>
                <p>Send push notifications to all users</p>
                <textarea style="" class="form-control mb-3" rows="6" placeholder="Write a message"></textarea>
                <button class="btn w-100 btn-primary">Send Message</button>
            </div>
            <div class="wgit">
                <h3>VIP Subscription</h3>
                <div class="form-group relative">
                    <img class="form-icon-l" src="~/Admin/icons/cart.png" />
                    <input class="form-control int-sty" placeholder="Add Subscription ID" />
                    <img class="form-icon-r" src="~/Admin/icons/add.png" />
                </div>

                <div class="vip-list">
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
