@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model james.Models.DB.Blog
<style>
    .chart-circle-md {
        height: 118px;
        width: 118px;
        font-size: 5.8rem;
    }
</style>
<link href="~/Admin/assets/css/james-nav-sty2.css" rel="stylesheet" />
<div class="profile-page  mt-5">

    <div class="row m-0 form-style--3 ">

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <h2>Blog</h2>
                </div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-end">
                        @*<a class="text-black fa-weight">Save drafe</a>*@
                        @*<a class="btn btn-primary btn-2">Preview</a>*@
                        @if (Model.isPublish)
                        {

                        <a onclick="unPub()" class="btn btn-primary btn-2">UnPublish</a>
                        }
                        else
                        {
                        <a onclick="Pub()" class="btn btn-primary">Publish</a>
                                
                        }
                    </div>

                </div>
            </div>
            <div class="row mt-7">
                <div class="col-lg-12">
                    <h3>@Model.title</h3>
                    <p class="text-black">
                        @Html.Raw(Model.description)
                    </p>
                    <img width="100%" src="@(!string.IsNullOrEmpty(Model.banner)? "/img/upload/"+Model.banner:"")" />
                </div>


            </div>


        </div>

        <div class="col-md-3 side-nav-right-sty">
            <div class="wgit">

                <h3 class="mb-0">Notification</h3>
                <p>Send push notifications to all users</p>
                <textarea style="" class="form-control mb-3" rows="6" placeholder="Write a message"></textarea>
                <button class="btn w-100 btn-primary">Send Message</button>
            </div>
            <div class="wgit">
                <h3>VIP Subscription</h3>
                <div class="form-group relative">
                    <img class="form-icon-l" src="~/Admin/icons/cart.png" />
                    <input class="form-control int-sty" placeholder="Add Subscription ID" />
                    <img class="form-icon-r" src="~/Admin/icons/add.png" />
                </div>

                <div class="vip-list">
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                    <div class="vips">
                        <img width="40" src="~/Admin/icons/pro-user.png" />
                        <p>vip_1_week</p>
                        <img width="18" src="~/Admin/icons/del.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function unPub() {

         var myurl = "/Admin/BlogPublish";
                    var mydata = new Object();
                    mydata.id =@Model.id;
        mydata.pub = 2;
                    XHRPOSTRequest(myurl, mydata, function (result) {
            showNotification("Data saved", "success");
            window.location.reload();
        });
        return false;
    }
    function Pub() {
        var myurl = "/Admin/BlogPublish";
                    var mydata = new Object();
                    mydata.id =@Model.id;
        mydata.pub = 1;
                    XHRPOSTRequest(myurl, mydata, function (result) {
            showNotification("Data saved", "success");
            window.location.reload();
        });
        return false;
    }
</script>